link(rel="stylesheet" type="text/css" href="/src/style.css")
html(lang="pt-br")
    style
        include ./style.css
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Saldo de Horas 
    body 
        div.table-title
            h3 Saldo de Horas de #{teste[0].funcionario.nome}
        table.table-fill  
            tbody.table-hover 
                tr 
                    th.text-left Saldo 
                    th.text-left Data  
                each value in teste
                    tr
                        td.text-left= value.saldo + ' minutos'
                        td.text-left= value.createdAt

    button(onclick="window.print();",style="background-color: #fd951f; border: 1px solid black; width: 600px").print Imprimir
    p
        a(href="/").print Início 